<div>
  <div>
    <h1>
      Welcome to the MBA Summer Apartments Database!
    </h1>
  </div>
</div>

<div>
  <div>
    <h2>
      Add your apartment to the database
    </h2>

    <form action="/new_apartment" method="get">
      <div>
      <button>
        Add my apartment to the database
      </button>
    </form>
  </div>
</div>
