<div>
  <div>
    <h1>
      Welcome to the MBA Summer Apartments Database!
    </h1>
  </div>
</div>


<div>
  <h3>
    Use the buttons below to navigate our website:
  </h3>

  <form action="/new_apartment" method="get">
      <button>
        Add my apartment to the database
      </button>
  </form>
<br>
  <form action="/apartments" method="get">
      <button>
        View list of all apartments
      </button>
  </form>
<br>
  <form action="/cities" method="get">
      <button>
        View list of apartments per city
      </button>
  </form>
